python-dotenv
langchain
langchain-community
langchain_openai
openai
tiktoken
streamlit
python-nmap
pydantic
pyyaml
pyyaml-env-tag
langchain_chroma
urllib3<3.0.0
transformers
torch
huggingface
langgraph
chromadb-ops
unstructured
